#content {
    margin: 0 auto;
    max-width: 1200px;
}

h1, h2 {
    color: #4C476B;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'supercomic';
    src: url('../public/fonts/SuperComic.otf') format('opentype');
    font-weight: normal;
    font-style: normal; 
}


@font-face {
    font-family: 'MilkyVintage';
    src: url('../public/fonts/MilkyVintage.ttf') format('ttf');
}

@font-face {
    font-family: 'RumbleBrave';
    src: url('../public/fonts/RumbleBrave.otf') format('opentype');
    font-weight: normal;
    font-style: normal; 
}

@keyframes slideUp {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes slideRight {
    0% {
      transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}